table {
    width: 80%;
    padding: 20px;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

  .mat-fab.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
    background-color: #ff9b04;
}
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}
body{
  margin: 80px;
}

.btnIcon{
  width:60px;

}
.mat-raised-button {
  min-width: 60px;}