<body> 
   <button mat-raised-button color="primary" (click)="addAmbulance()">הוספת אמבולנס</button>
   <br><br>
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="סנן נתונים בטבלה (לפי כל השדות)">
</mat-form-field>
<div class="mat-elevation-z8">
  <mat-table [dataSource]="dataSource" matSort>


    <!-- ID Column -->
    <ng-container matColumnDef="Id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.Id}} </mat-cell>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="CodeAmbulance">
      <mat-header-cell *matHeaderCellDef mat-sort-header> קוד אמבולנס </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.CodeAmbulance}}</mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="Password">
      <mat-header-cell *matHeaderCellDef mat-sort-header> סיסמא </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.Password}}</mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="UserName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> שם משתמש </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.UserName}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="IsActive">
      <mat-header-cell *matHeaderCellDef mat-sort-header> האם פעיל? </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox class="example-margin" [disabled]="true" [(ngModel)]="row.IsActive">{{row.IsActive ? 'פעיל' : 'לא פעיל'}}</mat-checkbox>
      </mat-cell>
    </ng-container> 
    
    <ng-container matColumnDef="ICU">
      <mat-header-cell *matHeaderCellDef mat-sort-header> האם טיפול נמרץ? </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox class="example-margin" [disabled]="true" [(ngModel)]="row.ICU">{{row.ICU ? 'לא' : 'כן'}}</mat-checkbox>
      </mat-cell>
    </ng-container>
    <!-- ,'ICU','Password','UserName' -->
    <!-- Color Column -->
    <ng-container matColumnDef="City.Name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> עיר </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.City.Name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="button">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-raised-button color="primary" (click)="editAmbulance(row.Id)" class="btnIcon">
          <i class="material-icons">edit</i>
        </button>
        <button mat-raised-button color="primary" (click)="deleteAmbulance(row.Id)" class="btnIcon">
          <i class="material-icons">delete_forever</i>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
</body>