<body>

  <mat-toolbar color="primary">
    <img class="docs-angular-logo" src="../assets/logo.png" height="50px">
    <a routerLink="login" class="navbar-brand" routerLinkActive="MyActive" hidden>לוגין</a>
<div *ngIf="loginService.CurrentUser">
    <div *ngIf="!isMange">
      <a class="docs-navbar-hide-small docs-button mat-button ng-star-inserted" routerLink="equipment">
        <span class="mat-button-wrapper">עידכון ציוד</span>
        <div class="mat-button-focus-overlay"></div>
      </a>

      <a class="docs-navbar-hide-small docs-button mat-button ng-star-inserted" routerLink="assignment">
        <span class="mat-button-wrapper">שיבוצים</span>
        <div class="mat-button-focus-overlay"></div>
      </a>
      <a *ngIf="!loginService.CurrentUser.IsVolunteer" class="docs-navbar-hide-small docs-button mat-button ng-star-inserted" [routerLink]="['/ambulanceForm',loginService.CurrentUser.Id]" >
        <span class="mat-button-wrapper">עדכון פרטים אישיים</span>
        <div class="mat-button-focus-overlay"></div>
      </a>      
      <a *ngIf="loginService.CurrentUser.IsVolunteer" class="docs-navbar-hide-small docs-button mat-button ng-star-inserted"  [routerLink]="['/volunteerForm',loginService.CurrentUser.Id]" >
        <span class="mat-button-wrapper">עדכון פרטים אישיים</span>
        <div class="mat-button-focus-overlay"></div>
      </a>

      <a class="docs-navbar-hide-small docs-button mat-button ng-star-inserted" routerLink="volunteerList" (click)="isMange=true">
        <span class="mat-button-wrapper">ניהול</span>
        <div class="mat-button-focus-overlay"></div>
      </a>
    </div>

    <!-- <a class="docs-navbar-hide-small docs-button mat-button ng-star-inserted" [routerLink]="['/volunteerForm',+" user.Id "+]">
      <span class="mat-button-wrapper">עדכון פרטים אישיים</span>
      <div class="mat-button-focus-overlay"></div>
    </a> -->


    <div *ngIf="isMange">
      <a class="docs-navbar-hide-small docs-button mat-button ng-star-inserted" routerLink="volunteerList">
        <span class="mat-button-wrapper">ניהול מתנדבים</span>
        <div class="mat-button-focus-overlay"></div>
      </a>
      <a class="docs-navbar-hide-small docs-button mat-button ng-star-inserted" routerLink="ambulanceList">
        <span class="mat-button-wrapper"> ניהול אמבולנסים</span>
        <div class="mat-button-focus-overlay"></div>
      </a>
      <a class="docs-navbar-hide-small docs-button mat-button ng-star-inserted" routerLink="eventList">
        <span class="mat-button-wrapper"> ניהול אירועים</span>
        <div class="mat-button-focus-overlay"></div>
      </a>
    </div>
  </div>
  </mat-toolbar>

  <router-outlet></router-outlet>
</body>

<!-- <nav class="navbar navbar-light" style="background-color: #d6d3d33b;"> -->
<!-- <div class="NavigationItems">
    <div>
      <a routerLink="login" class="navbar-brand NavigationItem" routerLinkActive="MyActive" hidden>לוגין</a>
      <a routerLink="assignment" class="navbar-brand NavigationItem" routerLinkActive="MyActive">שיבוצים</a>
    </div>
    <a routerLink="equipment" class="navbar-brand NavigationItem" routerLinkActive="MyActive">עידכון ציוד</a>

    <div *ngIf="userServise.currentUser">
        <span *ngIf="!userServise.currentUser.isManager">
          <a [routerLink]="['/my-tests',0]" class="navbar-brand" routerLinkActive="MyActive" routerLinkActive="MyActive">my Tests</a>
          <a [routerLink]="['/my-tests',1]" class="navbar-brand" routerLinkActive="MyActive">history</a>
        </span>
        <a routerLink="login" (click)="nullCurrent()" class="navbar-brand" routerLinkActive="MyActive">logOut</a>
        <span>{{userServise.currentUser.fname}}</span>
      </div>
  </div> -->