.mat-toolbar.mat-primary{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 100%;
}

@media (min-width: 500px) {
    .nav {
        flex-flow: column;
    }
}
.mat-toolbar.mat-primary{
    display: flex;
    flex-wrap: wrap;
    align-items: center !important;
    padding: 8px 16px;
    background: #ff9b04;
    color: #fff;
    font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    }
.companyName{
    font-size: 100%;
}
div {
    overflow: inherit;
}
a{
    text-decoration: none;
       white-space: normal;
}
a:hover{
    color: white;    
}
button{
    font-size: 100%;
    min-width: min-content;
}
.example-icon {
    padding: 0 14px;
  }

  .example-spacer {
    flex: 1 1 auto;
  }
  .mat-sidenav-content{
      font-size: 100%;
      text-align: center;
  }
  .MyActive{
    background-color:white;
    color: black;
}
