<mat-tab-group mat-align-tabs="center" md-stretch-tabs>
    <mat-tab label="שיבוץ לאירועים"> 
     <app-event></app-event>  
    </mat-tab>
    <mat-tab label="שיבוץ למשמרות"> 
     <app-shift-stepper></app-shift-stepper>
    </mat-tab>
  </mat-tab-group>

