<mat-horizontal-stepper #stepper>
  <mat-step  [editable]="false">
      <ng-template matStepLabel>סינון נתונים למשמרת</ng-template>
    <app-chooseShift #chooseShift (seccess)="NextStep()"></app-chooseShift>
    <div>
      <button mat-button  (click)="chooseShift.searchShift(); CurrentStep(stepper)"> הבא</button>
    </div>
  </mat-step>
  <mat-step  [editable]="false">
      <ng-template matStepLabel>בחירת משמרת לפי התאמה</ng-template>
    <h1>chaya</h1>
  </mat-step>
  <mat-step>
      <ng-template matStepLabel>אישור</ng-template>
    <h1>vvnvbvb</h1>
  </mat-step>
  <!-- <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step> -->
</mat-horizontal-stepper>