
.mat-step-header .mat-step-icon-not-touched{
    background-color: #3f51b5 !important;
    
}

.mat-step-header .mat-step-icon {
    background-color: #ffb100 !important;  
}
.mat-step-icon, .mat-step-icon-not-touched {
    background-color: #ffb100 !important;  }