<body> 
  <button mat-raised-button color="primary" (click)="addVolunteer()">הוספת מתנדב</button>
  <br><br>
<mat-form-field>
 <input matInput (keyup)="applyFilter($event.target.value)" placeholder="סנן נתונים בטבלה (לפי כל השדות)">
</mat-form-field>
<div class="mat-elevation-z8">
 <mat-table [dataSource]="dataSource" matSort>


   <!-- ID Column -->
   <ng-container matColumnDef="Id" [style.display]="'none'">
     <mat-header-cell *matHeaderCellDef mat-sort-header [style.display]="'none'"> Id </mat-header-cell>
     <mat-cell *matCellDef="let row" [style.display]="'none'"> {{row.Id}} </mat-cell>
   </ng-container>

   <ng-container matColumnDef="PrivateId">
     <mat-header-cell *matHeaderCellDef mat-sort-header> מספר פרייבט</mat-header-cell>
     <mat-cell *matCellDef="let row"> {{row.PrivateId}}</mat-cell>
   </ng-container>
   
   <ng-container matColumnDef="Tz">
     <mat-header-cell *matHeaderCellDef mat-sort-header> תעודת זהות </mat-header-cell>
     <mat-cell *matCellDef="let row"> {{row.Tz}}</mat-cell>
   </ng-container>
   
   <ng-container matColumnDef="FirstName">
     <mat-header-cell *matHeaderCellDef mat-sort-header> שם פרטי </mat-header-cell>
     <mat-cell *matCellDef="let row"> {{row.FirstName}}</mat-cell>
   </ng-container>
  
  <ng-container matColumnDef="LastName">
    <mat-header-cell *matHeaderCellDef mat-sort-header> שם משפחה </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.LastName}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="Phone">
    <mat-header-cell *matHeaderCellDef mat-sort-header> טלפון</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.Phone}}</mat-cell>
  </ng-container>
  
  <ng-container matColumnDef="Email">
    <mat-header-cell *matHeaderCellDef mat-sort-header>מייל </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.Email}}</mat-cell>
  </ng-container>

  
   <ng-container matColumnDef="IsActive">
     <mat-header-cell *matHeaderCellDef mat-sort-header> האם פעיל? </mat-header-cell>
     <mat-cell *matCellDef="let row">
       <mat-checkbox class="example-margin" [disabled]="true" [(ngModel)]="row.IsActive">{{row.IsActive ? 'פעיל' : 'לא פעיל'}}</mat-checkbox>
     </mat-cell>
   </ng-container> 
   
   <!-- <ng-container matColumnDef="ICU">
     <mat-header-cell *matHeaderCellDef mat-sort-header> האם טיפול נמרץ? </mat-header-cell>
     <mat-cell *matCellDef="let row">
       <mat-checkbox class="example-margin" [disabled]="true" [(ngModel)]="row.ICU">{{row.ICU ? 'לא' : 'כן'}}</mat-checkbox>
     </mat-cell>
   </ng-container> -->

   <ng-container matColumnDef="Staff">
     <mat-header-cell *matHeaderCellDef mat-sort-header> צוות</mat-header-cell>
     <mat-cell *matCellDef="let row"> {{row.Staff.Name}} </mat-cell>
   </ng-container>

   <ng-container matColumnDef="Branch">
    <mat-header-cell *matHeaderCellDef mat-sort-header> סניף </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.Branch.Name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="District">
    <mat-header-cell *matHeaderCellDef mat-sort-header> מחוז </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.District.Name}} </mat-cell>
  </ng-container>

   <ng-container matColumnDef="button">
     <mat-header-cell *matHeaderCellDef></mat-header-cell>
     <mat-cell *matCellDef="let row">
       <button mat-raised-button color="primary" (click)="editVolunteer(row.Id)" class="btnIcon">
         <i class="material-icons">edit</i>
       </button>
       <button mat-raised-button color="primary" (click)="deleteVolunteer(row.Id)" class="btnIcon">
         <i class="material-icons">delete_forever</i>
       </button>
     </mat-cell>
   </ng-container>

   <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
   <mat-row *matRowDef="let row; columns: displayedColumns;">
   </mat-row>
 </mat-table>

 <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
</body>




<!-- public int Id { get; set; }
public int PrivateId { get; set; }
public string Tz { get; set; }
public string FirstName { get; set; }
public string LastName { get; set; }
public string Phone { get; set; }       
public string Email { get; set; }
public bool IsActive { get; set; }        
public IdNameModel Staff { get; set; }
public IdNameModel Branch { get; set; }
public IdNameModel District { get; set; } -->