/* You can add global styles to this file, and also import other style files */
@import 'http://fonts.googleapis.com/css?family=Montserrat:300,700';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'http://fonts.googleapis.com/icon?family=Material+Icons';
@import 'bootstrap/dist/css/bootstrap.min.css';


body{
    text-align: right
    
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #fb9600;
}
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: rgba(255, 188, 4, 0.973);
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color:#fb9600;
}
.mat-step-header .mat-step-icon {
    background-color: #ffb100 !important;  
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #f48904;
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #f48904;
}

/* date */
.mat-calendar-body-selected {
    background-color:#f48904;
    color: #fff;
}