<!-- <form #loginForm="ngForm" class="form-horizontal col-md-4">
    <div class="container" *ngIf="data!=null">
        <div class="form-group">
            <label>סוג משמרת</label>
            <p-dropdown [options]="data.Shifts" name="shift" placeholder="בחר סוג משמרת" [style]="{'width':'350px'}" [(ngModel)]="select.KindShift"
                optionLabel="Name"></p-dropdown>

        </div>
        <div *ngIf="data.Volunteers">
            <mat-radio-group [(ngModel)]="CheckBox" name="CheckBox">
                <mat-radio-button class="example-margin" value="true">שיבוץ עצמי</mat-radio-button>
                <mat-radio-button class="example-margin" value="false">שיבוץ מתנדבים אחרים</mat-radio-button>
            </mat-radio-group>
            <div class="form-group">
                <label>מתנדב לשיבוץ</label>
                <p-dropdown [disabled]="CheckBox" [options]="data.Volunteers" name="volunteer" placeholder="בחר מתנדב לשיבוץ" [style]="{'width':'350px'}"
                    [(ngModel)]="select.User" optionLabel="Name" filter="true"></p-dropdown>
            </div>
        </div>

        <div class="form-group">
            <label>עיר</label>
            <p-dropdown [options]="data.Cities" name="city" placeholder="בחר עיר" [style]="{'width':'350px'}" [(ngModel)]="select.City"
                optionLabel="Name" filter="true"></p-dropdown>
        </div> -->
        <!-- #region -->
        <!-- <select name="idKindShift" class="form-control" [(ngModel)]="select.idKindShift">
                <option *ngFor="let shift of data.Shifts" [value]="shift.Id">{{shift.Name}}</option>
            </select>  -->
        <!-- <div class="form-group">
            <label>הכשרה</label>
            <select class="form-control">
                <option *ngFor="let training of data.Trainings">{{training.Name}}</option>
             </select>
          </div> -->
        <!-- <h1>{{select.idCity}}</h1>
            <select name="idCity" class="form-control" [(ngModel)]="select.idCity">
                <option *ngFor="let city of data.Cities" [value]="city.Id">{{city.Name}}</option>
            </select> -->
        <!-- #endregion -->
        <!-- <p>
            <mat-form-field>
                <input matInput [matDatepicker]="dp3" placeholder="Input disabled" disabled>
                <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                <mat-datepicker #dp3 disabled="false"></mat-datepicker>
            </mat-form-field>
        </p> -->
        <!-- <div class="form-group">
            <label>תאריך לשיבוץ</label>
            <p-calendar name="date" [showIcon]="true" [(ngModel)]="select.date" [readonlyInput]="true" dateFormat="dd/mm/yy"></p-calendar>
        </div>
    </div>
</form> -->




<!-- #region card-->
<!-- <mat-card>
   
    <mat-card-title>
        Angular Material Component With Angular 5
    </mat-card-title>

    <mat-card-content>
        <form class="example-form">
            <table>
                <tr>
                    <td colspan="2">
                        <label>סוג משמרת</label>
                        <p-dropdown [options]="data.Shifts" name="shift" placeholder="בחר סוג משמרת" [style]="{'width':'350px'}" [(ngModel)]="select.KindShift"
                            optionLabel="Name"></p-dropdown>
                    </td>
                </tr>
                <tr *ngIf="data.Volunteers">
                    <mat-radio-group [(ngModel)]="CheckBox" name="CheckBox">
                        <td>
                            <mat-radio-button class="example-margin" value="true">שיבוץ עצמי</mat-radio-button>
                        </td>
                        <td>
                            <mat-radio-button class="example-margin" value="false">שיבוץ מתנדבים אחרים</mat-radio-button>
                        </td>
                    </mat-radio-group>
                </tr>
                <tr>
                    <div class="form-group" *ngIf="data.Volunteers">
                        <label>מתנדב לשיבוץ</label>
                        <p-dropdown [disabled]="CheckBox" [options]="data.Volunteers" name="volunteer" placeholder="בחר מתנדב לשיבוץ" [style]="{'width':'350px'}"
                            [(ngModel)]="select.User" optionLabel="Name" filter="true"></p-dropdown>
                    </div>
                </tr>


                <tr>
                    <td colspan="2">
                        <label>עיר</label>
                        <p-dropdown [options]="data.Cities" name="city" placeholder="בחר עיר" [style]="{'width':'350px'}" [(ngModel)]="select.City"
                            optionLabel="Name" filter="true"></p-dropdown>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <div class="form-group">
                            <label>תאריך לשיבוץ</label>
                            <p-calendar name="date" [showIcon]="true" [(ngModel)]="select.date" [readonlyInput]="true" dateFormat="dd/mm/yy"></p-calendar>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </mat-card-content>
</mat-card> -->
#endregion