
.row{
margin:0 auto !important; 
}
.btn-info{
    background-color:#ff9b04;
    border-color:#ff9b04;
}
.example-container {
    display: flex !important;
    flex-direction: column !important;
    margin:0 auto !important; 
  }
  
  .example-container > * {
    width: 100% !important;
  }
  
  .example-right-align {
    text-align: right !important;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }



  .mat-form-field-ripple {
    background-color: #ff9b04;
}

  button.mat-accent {
    background-color: #ff9b04;
}

  .mat-card {    
    text-align: -webkit-center;    
}    
    
.demo-toolbar {    
    display: flex;    
    align-items: center;    
    width: 100%;    
}    
    
.demo-form {    
    min-width: 150px;    
    max-width: 500px;    
    width: 100%;    
}    
    
.demo-full-width {    
    width: 100%;    
}    
    
body {    
    margin: 0;    
    font-family: Roboto, sans-serif; 
    direction: rtl;   
}     
mat-card {    
    max-width: 80%;    
    margin: 2em auto;    
    text-align: center;    
}    
    
mat-toolbar-row {    
    justify-content: space-between;    
}    
    
.done {    
    position: fixed;    
    bottom: 20px;    
    right: 20px;    
    color: white;    
}    
    
.content-center {    
    text-align: -webkit-center;    
}  