
    <!-- #region -->
    <!-- <div class="form-group ui-float-label">
    <input type="text" class="form-control" id="Name" pInputText #userName="ngModel" name="Name" required [(ngModel)]="user.userName">
    <label for="Name">שם משתמש</label>

  </div>

  <div *ngIf="userName.invalid && (userName.dirty || userName.touched)" class="errorInput">
    <div *ngIf="userName.errors.required">
      userName is required
    </div>
  </div> -->
    <!-- <div class="form-group ui-float-label">
    <input type="text" name="password" required id="password" pInputText #password="ngModel" [(ngModel)]="user.password" class="form-control"
    />
    <label for="password">סיסמה</label>

  </div>
  <div *ngIf="password.invalid && (password.dirty || password.touched)" class="errorInput">
    <div *ngIf="password.errors.required">
      password is required
    </div>
  </div> -->
    <!-- #endregion -->

<mat-card>
    <mat-card-title>
        כניסה למערכת
    </mat-card-title>

    <mat-card-content>
        <form #loginForm="ngForm">
            <table>
                <tr>
                    <td colspan="2">
                        <mat-form-field>
                            <input matInput #userName="ngModel" placeholder="הכנס שם משתמש" name="Name" required id="Name" [(ngModel)]="user.userName">
                            <mat-hint>
                                <div *ngIf="userName.invalid && (userName.dirty || userName.touched)">
                                    <mat-error *ngIf="userName.errors.required">חובה למלא שדה זה</mat-error>
                                </div>
                            </mat-hint>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <mat-form-field>
                            <input matInput #password="ngModel" placeholder="הכנס סיסמא" [type]="hide ? 'password' : 'text'" name="password" required
                                id="password" [(ngModel)]="user.password">
                            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            <mat-hint>
                                <div *ngIf="password.invalid && (password.dirty || password.touched)">
                                    <mat-error *ngIf="password.errors.required">חובה למלא שדה זה</mat-error>
                                </div>
                            </mat-hint>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div  *ngIf="userExist">שם משתמש או סיסמא אינם נכונים</div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="content-center">
                            <button mat-raised-button type="submit" color="accent" [disabled]="loginForm.form.invalid" (click)="checkUserExist()">login</button>
                        <!-- <button type="submit" [disabled]="loginForm.form.invalid" (click)="checkUserExist()" class="btn btn-info">login</button> -->
                    </td>
                </tr>

            </table>
        </form>
    </mat-card-content>
</mat-card>


