<mat-card>
  <mat-card-title>
    פרטי אמבולנס
  </mat-card-title>
  <mat-card-content>
    <form>
      <table>
        <tr>
          <td colspan="2">
            <mat-form-field class="demo-full-width">
              <input matInput #UserName="ngModel" placeholder="שם משתמש" name="UserName" required id="UserName" [(ngModel)]="ambulance.UserName">
              <mat-hint>
                <div *ngIf="UserName.invalid && (UserName.dirty || UserName.touched)">
                  <mat-error *ngIf="UserName.errors.required">חובה למלא שדה זה</mat-error>
                </div>
              </mat-hint>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <mat-form-field class="demo-full-width">
              <input matInput #Password="ngModel" placeholder="סיסמא" name="Password" required id="Password" [(ngModel)]="ambulance.Password">
              <mat-hint>
                <div *ngIf="Password.invalid && (Password.dirty || Password.touched)">
                  <mat-error *ngIf="Password.errors.required">חובה למלא שדה זה</mat-error>
                </div>
              </mat-hint>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <mat-form-field class="demo-full-width">
              <input matInput #CodeAmbulance="ngModel" placeholder="קוד אמבולנס" name="CodeAmbulance" required id="CodeAmbulance" [(ngModel)]="ambulance.CodeAmbulance">
              <mat-hint>
                <div *ngIf="CodeAmbulance.invalid && (CodeAmbulance.dirty || CodeAmbulance.touched)">
                  <mat-error *ngIf="CodeAmbulance.errors.required">חובה למלא שדה זה</mat-error>
                </div>
              </mat-hint>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <br>
            <mat-form-field>
              <mat-select name="City" id="City" [(ngModel)]="ambulance.City.Id" placeholder="עיר">
                <mat-option *ngFor="let city of cities" [value]="city.IdName.Id">{{ city.IdName.Name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <mat-slide-toggle class="example-margin" [checked]="ambulance.IsActive" (change)="ambulance.IsActive = $event.source.checked">
              אמבולנס {{ambulance.IsActive ? 'פעיל' : 'לא פעיל'}}
            </mat-slide-toggle>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <label class="example-margin">אמבולנס:</label>
            <mat-radio-group [(ngModel)]="ambulance.ICU" name="ICU">
              <mat-radio-button class="example-margin" value="true">נט"ן</mat-radio-button>
              <mat-radio-button class="example-margin" value="false">רגיל</mat-radio-button>
            </mat-radio-group>
          </td>
        </tr>
        <tr>
          <td colspan="2" class="content-center">                          
                  
            <button mat-raised-button color="accent" (click)="updateAmbulance()" *ngIf="id!=0">עדכון פרטים</button>
            <button mat-raised-button color="accent" (click)="addAmbulance()" [hidden]="id">הוסף אמבולנס</button>
            <button mat-raised-button color="accent" (click)="returnToList()">חזרה לרשימה</button>
          </td>
        </tr>
      </table>
    </form>
  </mat-card-content>
</mat-card>