<mat-card >
    <mat-card-title>
        פרטי מתנדב
    </mat-card-title>
    <mat-card-content>
        <form>
            <table>
                <tr>
                    <td>
                        <mat-form-field class="demo-full-width">
                            <input matInput #firstName="ngModel" placeholder="שם פרטי" name="firstName" required id="firstName" [(ngModel)]="volunteer.FirstName">
                            <mat-hint>
                                <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
                                    <mat-error *ngIf="firstName.errors.required">חובה למלא שדה זה</mat-error>
                                </div>
                            </mat-hint>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="demo-full-width">
                            <input matInput #lastName="ngModel" placeholder="שם משפחה" name="lastName" required id="lastName" [(ngModel)]="volunteer.LastName">
                            <mat-hint>
                                <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
                                    <mat-error *ngIf="lastName.errors.required">חובה למלא שדה זה</mat-error>
                                </div>
                            </mat-hint>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <mat-form-field class="demo-full-width">
                            <input matInput #Tz="ngModel" placeholder="תעודת זהות" name="Tz" required id="Tz" [(ngModel)]="volunteer.Tz">
                            <mat-hint>
                                <div *ngIf="Tz.invalid && (Tz.dirty || Tz.touched)">
                                    <mat-error *ngIf="Tz.errors.required">חובה למלא שדה זה</mat-error>
                                </div>
                            </mat-hint>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <mat-form-field class="demo-full-width">
                            <input matInput #PrivateId="ngModel" placeholder="פרייבט" name="PrivateId" required id="PrivateId" [(ngModel)]="volunteer.PrivateId">
                            <mat-hint>
                                <div *ngIf="PrivateId.invalid && (PrivateId.dirty || PrivateId.touched)">
                                    <mat-error *ngIf="PrivateId.errors.required">חובה למלא שדה זה</mat-error>
                                </div>
                            </mat-hint>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <mat-form-field class="demo-full-width">
                            <input matInput #Phone="ngModel" placeholder="פלאפון" name="Phone" required id="Phone" [(ngModel)]="volunteer.Phone">
                            <mat-hint>
                                <div *ngIf="Phone.invalid && (Phone.dirty || Phone.touched)">
                                    <mat-error *ngIf="Phone.errors.required">חובה למלא שדה זה</mat-error>
                                </div>
                            </mat-hint>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <mat-form-field class="demo-full-width">
                            <input matInput #Email="ngModel" placeholder="אימייל" name="Email" required id="Email" [(ngModel)]="volunteer.Email">
                            <mat-hint>
                                <div *ngIf="Email.invalid && (Email.dirty || Email.touched)">
                                    <mat-error *ngIf="Email.errors.required">חובה למלא שדה זה</mat-error>
                                </div>
                            </mat-hint>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <mat-slide-toggle class="example-margin" [checked]="volunteer.IsActive" (change)="volunteer.IsActive = $event.source.checked">
                            מתנדב
                                {{volunteer.IsActive ? 'פעיל' : 'לא פעיל'}}
                        </mat-slide-toggle>
                    </td>
                </tr>
       

                <tr>
                    <td colspan="2" class="content-center">
                        <button mat-raised-button color="accent" (click)="updateVolunteer()" *ngIf="id!=0">עדכון פרטים</button>
                        <button mat-raised-button color="accent" (click)="addVolunteer()"[hidden]="id">הוסף משתמש</button>                       
                        <button mat-raised-button color="accent" (click)="returnToList()">חזרה לרשימה</button>
                    </td>
                </tr>
            </table>
        </form>
    </mat-card-content>
</mat-card>